<p id="notice"><%= notice %></p>

<h1>Listing Jobseekers</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>Personal name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Email</th>
      <th>Photo</th>
      <th>Experience</th>
      <th>Cv</th>
      <th>Status</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobseekers.each do |jobseeker| %>
      <tr>
        <td><%= jobseeker.business_name %></td>
        <td><%= jobseeker.personal_name %></td>
        <td><%= jobseeker.address %></td>
        <td><%= jobseeker.postcode %></td>
        <td><%= jobseeker.city %></td>
        <td><%= jobseeker.phone %></td>
        <td><%= jobseeker.website %></td>
        <td><%= jobseeker.email %></td>
        <td><%= jobseeker.photo %></td>
        <td><%= jobseeker.experience %></td>
        <td><%= jobseeker.cv %></td>
        <td><%= jobseeker.status %></td>
        <td><%= jobseeker.text %></td>
        <td><%= link_to 'Show', jobseeker %></td>
        <td><%= link_to 'Edit', edit_jobseeker_path(jobseeker) %></td>
        <td><%= link_to 'Destroy', jobseeker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobseeker', new_jobseeker_path %>
