<p id="notice"><%= notice %></p>

<p>
  <strong>Business name:</strong>
  <%= @jobseeker.business_name %>
</p>

<p>
  <strong>Personal name:</strong>
  <%= @jobseeker.personal_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @jobseeker.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @jobseeker.postcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @jobseeker.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @jobseeker.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @jobseeker.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @jobseeker.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @jobseeker.photo %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @jobseeker.experience %>
</p>

<p>
  <strong>Cv:</strong>
  <%= @jobseeker.cv %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobseeker.status %>
</p>

<p>
  <strong>Text:</strong>
  <%= @jobseeker.text %>
</p>

<%= link_to 'Edit', edit_jobseeker_path(@jobseeker) %> |
<%= link_to 'Back', jobseekers_path %>
